{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "printWidth": 89,
  "bracketSpacing": true,
  "proseWrap": "never"
}
